---
interface Props {
    text: string
    href: string
}

const {text, href} = Astro.props
---
<a href={href} class="button"><slot/> {text}</a>

<style>
    .button{
        background-color: #3A81F5;
        text-decoration: none;
        border-radius: 8px;
        color: white;
        padding: 7px 13px;
        text-align: center;
        align-items: center;
        justify-content: center;
        justify-self: center;
        gap: 6px;
        display: inline-flex;
        font-size: 14px;
        font-weight: 500;
        transition: 0.25s all;
    }
    .button:hover{
        background-color: #2a60b7;
    }
</style>

